---
import styles from './Hero.module.css'
---

<section class={styles.hero} id="inicio">
    <div class={styles.heroContent}>
        <div class={styles.heroBadge}>estudio contable jurídico</div>
        <h2 class={styles.heroTitle}>
            Soluciones contables para empresas y profesionales
        </h2>
        <p class={styles.heroDesc}>
            Asesoramiento contable, impositivo y financiero
            para empresas y profesionales.
        </p>
        <button class={styles.heroBtn}>Conocer Más</button>
    </div>
</section>
